<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div class="corpo" layout:fragment="corpo">
	<div class="stackedit__html">
    <blockquote>
      <p>Lista de sites testados e validos para os testes no projeto:</p>
    </blockquote>
    <ul>
      <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
      <li><a href="https://www.pichau.com.br/" target="_blank"><strike>Pichau Informática</strike></a></li>
      <li><a href="https://www.terabyteshop.com.br/" target="_blank"><strike>TeraByte Shop</strike></a></li>
      <li><a href="https://www.walmart.com.br/" target="_blank"><strike>Walmart</strike></a></li>
      <li><a href="https://www.colombo.com.br/" target="_blank">Lojas Colombo</a></li>
      <li><a href="https://www.cissamagazine.com.br/" target="_blank"><strike>Cissa Magazine</strike></a></li>
      <li><a href="https://www.carrefour.com.br/" target="_blank"><strike>Carrefour</strike></a></li>
      <li><a href="https://www.mobly.com.br/" target="_blank">Mobly</a></li>
      <li><a href="https://www.kabum.com.br/" target="_blank"><strike>Kabum</strike></a></li>
      <li><a href="https://www.boticario.com.br/" target="_blank">O Boticário</a></li>
      <li><a href="https://www.drogaraia.com.br/" target="_blank">Droga Raia</a></li>
      <li><a href="https://www.banggood.com/" target="_blank"><strike>Bangood</strike></a></li>
      <li><a href="https://www.nuuvem.com/" target="_blank">Nuuvem</a></li>
      <li><a href="https://www.girafa.com.br" target="_blank"><strike>Girafa</strike></a></li>
      <li><a href="https://pt.aliexpress.com/" target="_blank">AliExpress</a></li>
      <li><a href="https://www.beautybox.com.br/" target="_blank">BeautyBox</a></li>
      <li><a href="https://www.magazinevoce.com.br/magazinepromobitoficial" target="_blank">Magazine Voce</a></li>
      <li><a href="https://www.casadabebida.com.br/" target="_blank">Casa Da Bebida</a></li>
    </ul>
  </div>
</div>

<script></script>
</body>
</html>
